body {
    width: 90%;
    margin: 0 auto;
    text-align:center;
    background: black;
    color: aliceblue
}

header {
    margin: 0.25em 0;
}

.game-area {
    margin-top: 2em;
    font-size: 2em;
}

.game-box {
    border: 1em black;
}

.player-1-pick, .player-2-pick {
    width: 100%;
    height: 100%;
    align-content: center;
}

.waiting {
    width: 50%;
}

#name-form {
    margin-bottom: 2em;
    border: solid 0.5em silver;
    border-radius: 1em;
    background: blue;
    padding: .25em;
}

#instructions {
    font-size: 2em;
}

#instructions img {
    height: 5em;
}

#player-1-options, #player-2-options {
    display: none;
}

#score-row {
    margin: 1% 0 2% 0;
}

#chat-container {
    text-align: justify;
}

#chat-box {
    height: 14em;
    background: rgba(220, 220, 220, 0.616);
    overflow-y: auto;
    margin: 0 0 2em 0;
}

#score-row {
    font-size: 2em;
}