body {
    width: 90%;
    margin: 0 auto;
    text-align:center;
}

header {
    margin: 2em 0;
}

.game-box {
    border: 1em black
}

#score-row {
    margin: 1% 0 2% 0;
}

#chat-container {
    text-align: justify;
}